@import url("themes/catppuccin-mocha.css");

* {
    font-family: "GeistMono Nerd Font";
    font-size: 10pt;
    font-weight: 500;
    margin: 0;
    padding: 0;
    transition-property: background-color;
    transition-duration: 0.5s;
}

/* Reset all styles */
* {
    border: none;
    border-radius: 3px;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: 0.5s;
    border-radius: 0px;
    margin: 0;
}

.modules-center {
    margin-left: 8px;
    margin-right: 8px;
}

/* Each module */
#clock,
#language,
#wireplumber,
#tray,
#workspaces,
#cpu,
#memory,
#custom-gpu,
#custom-storage,
#custom-storage2,
#custom-ddcutil,
#temperature,
#backlight,
#custom-power-menu,
#power,
#window,
#submap {
    margin: 0;
    padding: 5px 10px;
    color: @text;
    background-color: @crust;
    border: 2px;
    border-style: solid;
    border-color: @lavender;
    border-radius: 7px;
}

#clock {
    border-color: @green;
}

#wireplumber {
    border-color: @teal;
}

#workspaces {
    border-color: @green;
}

#cpu {
    border-color: @blue;
}

#memory {
    border-color: @teal;
}

#temperature {
    border-color: @green;
}

window#waybar.empty #window {
    background-color: transparent;
    border: 0px;
}

#tray {
    padding: 7px 10px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
    border-radius: 100px;
}

#workspaces {
    padding: 0 5px;
}

#workspaces button {
    padding: 0 5px;
    margin: 0;
    color: #7984a4;
    background-color: transparent;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0;
}

#workspaces button.active,
#workspaces button.focused {
    color: @green;
    background-color: transparent;
}

#workspaces button.special {
    color: @peach;
}

/* Fix predefined gtk background effect on hover  */
#workspaces button:hover {
    background: none;
    /* Uncomment to also disable text highlighting */
    /* text-shadow: none; */
}

#workspaces button.urgent,
#temperature.critical {
    color: #dd7878;
}

#battery {
    padding: 0;
    padding-right: 10px;
    color: @lavender;
}

#battery.charging,
#battery.full,
#battery.plugged {
    color: #26a65b;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-tlp {
    padding: 0;
    padding-right: 10px;
}

#power-profiles-daemon {
    padding: 0;
    padding-right: 15px;
    font-size: 8pt;
}

#idle_inhibitor {
    font-size: 8pt;
    padding: 0;
}

label:focus {
    background-color: #000000;
}

@keyframes blink {
    to {
        background-color: rgba(30, 34, 42, 0.5);
        color: @color15;
    }
}
